<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>roomId</key>
	<integer>0</integer>
	<key>userId</key>
	<integer>0</integer>
	<key>roomUserCount</key>
	<integer>0</integer>
	<key>roomAttrId</key>
	<integer>0</integer>
	<key>roomCreatorId</key>
	<integer>0</integer>
	<key>modelType</key>
	<integer>0</integer>
	<key>roomPic</key>
	<string></string>
	<key>userstarPic</key>
	<string></string>
	<key>roomName</key>
	<string></string>
	<key>userAlias</key>
	<string></string>
</dict>
</plist>
