<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>message</key>
		<string>都不会汲取搞活动了</string>
		<key>isMine</key>
		<string>0</string>
	</dict>
	<dict>
		<key>message</key>
		<string>及其后除恶我去换是那就算了蝴蝶飞奇偶的;我就去;没考虑当前;局IM出口代理权;居民出来的</string>
		<key>isMine</key>
		<string>0</string>
	</dict>
	<dict>
		<key>message</key>
		<string>一</string>
		<key>isMine</key>
		<string>1</string>
	</dict>
	<dict>
		<key>message</key>
		<string>hkswlqhcieql</string>
		<key>isMine</key>
		<string>0</string>
	</dict>
	<dict>
		<key>message</key>
		<string>134783926</string>
		<key>isMine</key>
		<string>1</string>
	</dict>
</array>
</plist>
